#layout {
  &.dark {
    /*
      * Based on Plugin: Syntax Highlighter CB
      * Plugin URI: http://wp.tutsplus.com/tutorials/plugins/adding-a-syntax-highlighter-shortcode-using-prism-js
      * Description: Highlight your code snippets with an easy to use shortcode based on Lea Verou's Prism.js.
      * Version: 1.0.0
      * Author: c.bavota
      * Author URI: http://bavotasan.comhttp://wp.tutsplus.com/tutorials/plugins/adding-a-syntax-highlighter-shortcode-using-prism-js/ */
    /* http://cbavota.bitbucket.org/syntax-highlighter/  */

    /* =====   ===== */
    code[class*='language-'],
    pre[class*='language-'] {
      color: #fff;
      text-shadow: 0 1px 1px #000;
      font-family: Menlo, Monaco, 'Courier New', monospace;
      direction: ltr;
      text-align: left;
      word-spacing: normal;
      white-space: pre;
      word-wrap: normal;
      line-height: 1.4;
      background: none;
      border: 0;

      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;

      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }

    pre[class*='language-'] code {
      float: left;
      padding: 0 15px 0 0;
    }

    pre[class*='language-'],
    :not(pre) > code[class*='language-'] {
      background: #222;
    }

    /* Code blocks */
    pre[class*='language-'] {
      padding: 15px;
      // margin: 1em 0;
      overflow: auto;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
    }

    /* Inline code */
    :not(pre) > code[class*='language-'] {
      padding: 5px 10px;
      line-height: 1;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #797979;
    }

    .token.selector,
    .token.operator,
    .token.punctuation {
      color: #fff;
    }

    .token.namespace {
      opacity: 0.7;
    }

    .token.tag,
    .token.boolean {
      color: #ffd893;
    }

    .token.atrule,
    .token.attr-value,
    .token.hex,
    .token.string {
      color: #b0c975;
    }

    .token.property,
    .token.entity,
    .token.url,
    .token.attr-name,
    .token.keyword {
      color: #c27628;
    }

    .token.regex {
      color: #9b71c6;
    }

    .token.entity {
      cursor: help;
    }

    .token.function,
    .token.constant {
      color: #e5a638;
    }

    .token.variable {
      color: #fdfba8;
    }

    .token.number {
      color: #8799b0;
    }

    .token.important,
    .token.deliminator {
      color: #e45734;
    }

    /* Line highlight plugin */
    pre[data-line] {
      position: relative;
      padding: 1em 0 1em 3em;
    }

    .line-highlight {
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 1em; /* Same as .prism's padding-top */
      background: rgba(255, 255, 255, 0.2);
      pointer-events: none;
      line-height: inherit;
      white-space: pre;
    }

    .line-highlight:before,
    .line-highlight[data-end]:after {
      content: attr(data-start);
      position: absolute;
      top: 0.3em;
      left: 0.6em;
      min-width: 1em;
      padding: 0 0.5em;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      font: bold 65%/1.5 sans-serif;
      text-align: center;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      text-shadow: none;
    }

    .line-highlight[data-end]:after {
      content: attr(data-end);
      top: auto;
      bottom: 0.4em;
    }

    /* for line numbers */
    .line-numbers-rows {
      margin: 0;
    }

    .line-numbers-rows span {
      padding-right: 10px;
      border-right: 3px #d9d336 solid;
    }
  }

  &.light {
    /**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

    code[class*='language-'],
    pre[class*='language-'] {
      color: #393a34;
      font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
      direction: ltr;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      font-size: 0.9em;
      line-height: 1.2em;

      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;

      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }

    pre > code[class*='language-'] {
      font-size: 1em;
    }

    pre[class*='language-']::-moz-selection,
    pre[class*='language-'] ::-moz-selection,
    code[class*='language-']::-moz-selection,
    code[class*='language-'] ::-moz-selection {
      background: #b3d4fc;
    }

    pre[class*='language-']::selection,
    pre[class*='language-'] ::selection,
    code[class*='language-']::selection,
    code[class*='language-'] ::selection {
      background: #b3d4fc;
    }

    /* Code blocks */
    pre[class*='language-'] {
      padding: 1em;
      // margin: 0.5em 0;
      overflow: auto;
      border: 1px solid #dddddd;
      background-color: white;
    }

    /* Inline code */
    :not(pre) > code[class*='language-'] {
      padding: 0.2em;
      padding-top: 1px;
      padding-bottom: 1px;
      background: #f8f8f8;
      border: 1px solid #dddddd;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #999988;
      font-style: italic;
    }

    .token.namespace {
      opacity: 0.7;
    }

    .token.string,
    .token.attr-value {
      color: #e3116c;
    }
    .token.punctuation,
    .token.operator {
      color: #393a34; /* no highlight */
    }

    .token.entity,
    .token.url,
    .token.symbol,
    .token.number,
    .token.boolean,
    .token.variable,
    .token.constant,
    .token.property,
    .token.regex,
    .token.inserted {
      color: #36acaa;
    }

    .token.atrule,
    .token.keyword,
    .token.attr-name,
    .language-autohotkey .token.selector {
      color: #00a4db;
    }

    .token.function,
    .token.deleted,
    .language-autohotkey .token.tag {
      color: #9a050f;
    }

    .token.tag,
    .token.selector,
    .language-autohotkey .token.keyword {
      color: #00009f;
    }

    .token.important,
    .token.function,
    .token.bold {
      font-weight: bold;
    }

    .token.italic {
      font-style: italic;
    }
  }
}
