@import '../utils/variables.scss';

.blog-post-container {
  margin-bottom: 2rem;
  & > div,
  .ad {
    max-width: 720px;
    margin: 0 auto;
  }

  .blog-post {
    padding: 1rem;

    a {
      text-decoration-line: underline;
    }

    .blog-post-title {
      font-size: 1.8rem;
      margin: 0;
      line-height: 1.5;
      word-break: keep-all;
      font-family: 'Noto Serif KR';
    }

    .blog-post-info {
      display: flex;
      margin-top: 1rem;
      color: rgba(0, 0, 0, 0.64);
      font-size: 0.84rem;
      align-items: center;
      justify-content: space-between;

      & > .dot {
        margin: 0 0.5rem;
      }

      .date-wrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .update-date {
          color: rgba(0, 0, 0, 0.44);
        }
      }

      .blog-post-tag-list {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        flex-grow: 1;

        .blog-post-tag {
          list-style: none;
          margin: 0;
          margin-right: 0.3rem;

          a {
            color: rgba(0, 0, 0, 0.64);
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              color: rgba(0, 0, 0, 0.84);
            }
          }
        }
      }

      .blog-post-inside-toc {
        display: none;
        align-self: flex-end;

        @media screen and (max-width: $break-toc) {
          display: inline-block;
        }

        .toc-button {
          cursor: pointer;
          color: #6a737d;
          opacity: 0.5;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    .series {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 2rem;

      .series-head {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: rgba(0, 0, 0, 0.74);

        .head {
          font-weight: bold;
          user-select: none;
        }

        .icon-wrap {
          text-align: center;
          width: 1.5rem;
          font-size: 0.8rem;
        }
      }

      .series-list {
        display: flex;
        margin: 0;
        margin-top: 0.25rem;
        flex-direction: column;
        align-items: flex-end;
        font-size: 0.8rem;
        line-height: 1.3;

        .series-item {
          list-style: none;
          margin: 0;
          opacity: 0.4;
          transition: all 0.2s;

          &:hover {
            opacity: 0.9;
          }

          & > a {
            text-decoration: none;
            display: flex;

            .icon-wrap {
              min-width: 1.5rem;
              width: 1.5rem;
              text-align: center;
            }
          }

          &.current-series {
            opacity: 0.7;
          }
        }
      }
    }

    .inside-toc-wrap {
      display: flex;
      justify-content: flex-end;
    }

    .blog-post-content {
      margin-top: 3rem;
      font-family: 'Noto Serif KR';

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: 'Noto Serif KR';
      }
      h1 {
        margin-top: 4rem;
      }
      h2 {
        margin-top: 3rem;
      }
      h3 {
        margin-top: 2rem;
      }

      li {
        margin-bottom: 0.25rem;

        ul {
          margin-top: 0.25rem;
        }
      }
      code {
        font-family: 'Nanum Gothic Coding';
      }

      blockquote {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.64);
        border-left: 4px solid rgba(0, 0, 0, 0.2);
        margin: 0;
        margin-bottom: 1rem;
        padding: 0 1rem 0 1rem;
      }
    }
  }

  .social-share {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;

    ul {
      display: flex;
      margin: 0;

      li.social-share-item {
        margin: 0;
        list-style: none;
        margin: 0 0.25rem;

        circle {
          fill: #6a737d;
          transition: all 0.3s;
        }

        &:hover {
          &.email {
            circle {
              fill: #b8b8b8;
            }
          }
          &.facebook {
            circle {
              fill: #3b5998;
            }
          }
          &.twitter {
            circle {
              fill: #00aced;
            }
          }
          &.linkedin {
            circle {
              fill: #007fb1;
            }
          }
          &.reddit {
            circle {
              fill: #5f99cf;
            }
          }
          &.pocket {
            circle {
              fill: #ef3f56;
            }
          }
        }
      }
    }
  }
  .ad {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .ad-dev,
  .comments-dev {
    display: flex;
    border: 1px dotted gray;
    min-height: 15rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;

    & > :nth-child(1) {
      opacity: 0.8;
    }

    & > :nth-child(2) {
      font-size: 0.9rem;
      opacity: 0.5;
    }

    &.comments-dev {
      min-height: 20rem;
    }
  }

  .comments {
    padding: 1rem;
  }
}
