@import '../../utils/variables.scss';

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  .tag {
    list-style: none;
    background-color: $tag-color;
    color: white;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    .tag-name {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
    .tag-count {
      color: lightgray;
    }
  }
}
