@import '../../utils/variables.scss';

.title {
  margin-bottom: 2rem;
}
.tag-wrap {
  margin-bottom: 2rem;
  padding: 1rem;

  .tag-list {
    display: flex;
    flex-wrap: wrap;

    .tag {
      list-style: none;
      background-color: $tag-background-color;
      color: $tag-font-color;
      padding: 0.25rem 0.5rem;
      margin-right: 1rem;
      margin-bottom: 1rem;

      border-radius: 3px;
      cursor: pointer;
      .tag-name {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }
      .tag-count {
        color: lightgray;
      }
    }
  }

  .tag-load {
    text-align: center;
    transition: 0.3s;
    border-radius: 3px;
    border: 1px solid $line-color;
  }
  .tag-load:hover {
    cursor: pointer;
    background-color: $tag-background-color;
    color: $tag-font-color;
  }
}
