@import '../../utils/variables.scss';

.title {
  margin-bottom: 2rem;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  border-bottom: 1px solid $font-color-3;
  padding: 1rem;
  margin-bottom: 3rem;

  .tag {
    list-style: none;
    background-color: $tag-color;
    color: white;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    border-radius: 3px;
    cursor: pointer;
    .tag-name {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
    .tag-count {
      color: lightgray;
    }
  }
}
