@import '../../utils/variables.scss';

#Header {
  display: flex;
  align-items: flex-end;
  height: $header-height;
  max-height: $header-height;
  padding: 0.5rem 1rem 1rem 1rem;

  a {
    color: black;
    text-decoration: none;

    &:active {
      color: black;
    }
  }

  .header__title-text {
    margin: 0;
    font-size: 1.6rem;
    font-weight: normal;
  }
}
