@import '../../utils/variables.scss';

#Header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem 2rem 1rem 2rem;
  background-color: #fff;
  height: $header-height;
  max-height: $header-height;
  transition: top 0.3s;
  transition-delay: 0.2s;

  @media screen and (max-width: $break-l) {
    padding: 0.5rem 1.25rem 1rem 1rem;
  }
  @media screen and (max-width: $break-m) {
    height: $header-height-m;
  }
  @media screen and (max-width: $break-s) {
    height: $header-height-s;
    padding: 0 1.25rem 0.25rem 1rem;
  }

  &.show {
    top: 0;
  }
  &.hide {
    top: -$header-height;
  }

  .header-title {
    display: flex;
    align-items: flex-end;

    .header-title {
      display: flex;
      align-items: center;
    }

    .header-profile-image-wrap {
      display: flex;
      align-items: center;
      border: 1px solid #aaa;
      padding: 2px;

      border-radius: 100%;
      margin-right: 0.25rem;

      img {
        border-radius: 100%;
        margin: 0;
        opacity: 0.8;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;

        @media screen and (max-width: $break-l) {
          width: 25px !important;
          height: 25px !important;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .header-title-text {
      margin: 0;
      font-size: 1.6rem;
      font-weight: normal;
      font-family: 'Raleway', 'Nanum Gothic';
      opacity: 0.9;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

#nav {
  ul {
    display: flex;
    margin: 0;

    li {
      list-style: none;
      margin: 0;
      margin-left: 1rem;

      svg {
        margin: 0;
        font-size: 1.2rem;
        color: #666;
        transition: 0.3s;
        opacity: 0.5;
        &:hover {
          opacity: 0.8;
        }
      }

      span {
        font-family: 'Raleway', 'Nanum Gothic';
      }

      .search-wrap,
      .tag-wrap {
        display: flex;
        align-items: center;
        height: 1.5rem;

        svg {
          margin-top: 3px;
        }
      }

      .tag-wrap {
        position: relative;

        span {
          position: absolute;
          left: -2.7rem;
          color: #ababab;
          // border: 1px solid #dfdfdf;
          border-radius: 10px;
          padding-right: 2rem;
          padding-left: 0.5rem;
          opacity: 0;
          transition: 0.5s;
          user-select: none;
        }
      }
    }
  }
}
