@import '../../utils/variables.scss';

.post-list {
  max-width: 640px;

  ul,
  li,
  h2 {
    margin: 0;
  }

  li {
    list-style: none;
  }

  .post {
    display: flex;
    flex-direction: column;
    max-width: inherit;

    padding: 3rem 1rem;

    @media screen and (max-width: $break-m) {
      padding: 2rem 1rem;
    }

    &:nth-child(1) {
      padding-top: 0;
      border-top: 0;
    }

    & > * > * {
      margin-bottom: 0.25rem;
      @media screen and (max-width: $break-m) {
        margin-bottom: 0.2rem;
      }
      @media screen and (max-width: $break-s) {
        margin-bottom: 0.1rem;
      }
    }

    .title {
      font-size: 1.3rem;

      @media screen and (max-width: $break-m) {
        font-size: 1.1rem;
      }
    }

    .info {
      display: flex;
      color: rgba(0, 0, 0, 0.54);
      font-size: 0.9rem;

      .date {
        display: block;
        white-space: nowrap;
      }

      .info-dot {
        margin: 0 0.25rem;
      }

      .tag-list {
        display: flex;
        flex-wrap: wrap;

        .tag {
          margin: 0;
          margin-right: 0.5rem;
          span > a {
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }

    .excerpt {
      display: -webkit-box;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.74);
      max-width: calc(640px - 2rem);
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 0.95rem;

      @media screen and (max-width: $break-m) {
        font-size: 0.82rem;
      }
    }
  }
}
