@import '../../utils/variables.scss';

.toc {
  font-family: 'Nanum Gothic';
  font-size: 0.8rem;
  max-width: 220px;
  min-width: 220px;
  max-height: calc(100vh - 6rem);
  overflow: auto;
  transition: 0.3s;
  padding-right: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    margin-top: 0;
    margin-left: 0.5rem;
    li {
      list-style: none;
      margin: 0;
    }
  }
  p {
    margin: 0;
  }

  a {
    opacity: 0.4;
    transition: 0.2s;
    max-width: calc(220px - 1.5rem);
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      opacity: 1 !important;
    }

    img {
      display: none !important;
    }
  }
}

.toc.outside {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: $header-height;
  opacity: 0.4;

  @media screen and (max-width: $break-toc) {
    display: none;
  }

  &:hover {
    opacity: 0.9;
  }
}

.toc.inside {
  a {
    text-decoration: none;
  }
}
