@import '../../utils/variables.scss';

.blog-post-container {
  font-size: 1.2rem;
  margin-top: 3rem;

  @media screen and (orientation: portrait) {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .blog-post {

    .post-header {
      text-align: center;
      margin-bottom: 6rem;

      .date {
        font-size: 1.2rem;
      }
    }

    .blog-post-content {
      h1,
      h2 {
        border-left: 0.2rem solid $dark-color;
        padding-left: 0.5rem;
      }
      & > div,
      & > p,
      & > h3,
      & > h4 {
        padding-left: 0.7rem;
      }
      hr {
        border: 0.2px solid #00000020;
        margin: 1rem 0;
      }
    }
  }
  .blog-post-nav {
    display: flex;
    margin: 10rem 0 2rem 0;

    & > div {
      flex-grow: 1;

      .nav-wrap {
        padding: 0.5rem 1rem;
        display: flex;

        .angle {
          align-self: center;
        }

        & > a {
          color: $font-color-1;
          flex-grow: 1;
          align-self: center;
          padding: 0.5rem 1rem;
          
          p {
            font-size: 1.2rem;
            margin: 0 0 0.5rem 0;
          }
        }
      }
    }
    
    .prev {
      text-align: left;
    }
    .next {
      text-align: right;
    }
    &>div:nth-child(2){
      border-left: 1px solid lightgray;
    }
  }
}
.comments {
  margin-top: 3rem;
}
