@import '../../utils/variables.scss';

.blog-post-container {
  font-size: 1.2rem;
  margin-top: 3rem;
  @media screen and (orientation: portrait) {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .blog-post {
    .post-header {
      text-align: center;
      margin-bottom: 6rem;
      .title {
        color: $dark-color;
      }
      .date {
        font-size: 1.2rem;
      }
    }

    .blog-post-content {
      h1,
      h2 {
        border-left: 0.2rem solid $dark-color;
        padding-left: 0.5rem;
      }
      & > div,
      & > p,
      & > h3,
      & > h4 {
        padding-left: 0.7rem;
      }
    }
  }
  .blog-post-nav {
    display: flex;
    margin-top: 5rem;

    & > div {
      flex-grow: 1;
      border: 1px solid gray;
      border-radius: 3px;
      .nav-wrap {
        padding: 0.5rem 1rem;
        display: flex;

        .angle {
          align-self: center;
        }
        & > a {
          color: $font-lighter-color;
          flex-grow: 1;
          align-self: center;
          padding: 0.5rem 1rem;
          p {
            font-size: 1.2rem;
            margin: 0 0 0.5rem 0;
          }
        }
      }
    }
    .prev {
      text-align: left;
      margin-right: 0.5rem;
    }
    .next {
      text-align: right;
      margin-left: 0.5rem;
    }
  }
}
.comments {
  margin-top: 3rem;
}
