@import '../../utils/variables.scss';

.blog-post-container {
  font-size: 1.2rem;
  @media screen and (orientation: portrait) {
    font-size: 1.1rem;
  }
  
  .blog-post {
    .date {
      font-size: 1.2rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $header-color;
    }
  }
  .blog-post-nav {
    display: flex;
    margin-top: 5rem;

    & > div {
      flex-grow: 1;
      border: 1px solid gray;
      border-radius: 3px;
      .nav-wrap {
        padding: 0.5rem 1rem;
        display: flex;

        .angle {
          align-self: center;
        }
        & > a {
          flex-grow: 1;
          align-self: center;
          padding: 0.5rem 1rem;
          p {
            font-size: 1.2rem;
            margin: 0 0 0.5rem 0;
          }
        }
      }
    }
    .prev {
      text-align: left;
      margin-right: 0.5rem;
    }
    .next {
      text-align: right;
      margin-left: 0.5rem;
    }
  }
}
.comments {
  margin-top: 3rem;
}
