.bio {
  min-width: 18rem;
  width: 18rem;
  padding-left: 2rem;
  font-family: 'Nanum Gothic';

  p,
  span {
    display: block;
    margin: 0;
    font-size: 0.9rem;

    svg {
      width: 1.2rem !important;
      color: #6a737d;
      margin-right: 0.4rem;
    }
  }

  p {
    margin-bottom: 0.25rem;
  }

  .comment {
    margin-bottom: 1rem;
  }

  .social {
    margin-left: 0.2rem;
    margin-top: 2rem;

    svg {
      font-size: 1.3rem;
    }

    a {
      margin-right: 0.5rem;

      .linkedin,
      .facebook,
      .instagram,
      .github,
      .rss {
        color: #6a737d;
        transition: color 0.3s;
      }

      &:hover {
        .rss {
          color: rgb(226, 143, 72);
        }
        .linkedin {
          color: #0077b5;
        }
        .facebook {
          color: #1877f2;
        }
        .instagram {
          color: #e4405f;
        }
        .github {
          color: #181717;
        }
      }
    }
  }
}
