@import '../../utils/variables.scss';

$header-padding: 1rem 10% 1rem 5%;
$header-padding-mobile: 1rem 2rem;
$article-font-color: $font-color-1;

a {
  text-decoration: none;
}

#wrap {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  min-height: 100vh;
  background-color: $white-color;
}

#header {
  z-index: 99;
  position: fixed;
  min-width: 100%;
  top: 0;
  min-height: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: $header-color;
  color: $white-color;
  padding: $header-padding;
  align-items: center;

  @media screen and (orientation: portrait) {
    padding: $header-padding-mobile;
  }

  a {
    color: $white-color;
  }

  .title {
    margin: 0;
    & > a {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $white-color;
      border-top: 1px solid $white-color;
      padding: 0.2rem 0.2rem;
      align-items: center;

      .profile-img {
        margin-top: 4px;
        margin-right: 0.2rem;
        img {
          margin: 0;
          width: 1.5rem;
          height: 1.5rem;
          padding: 0.1rem;
          border: 1px solid lightgray;
          border-radius: 100%;
        }
      }

      h1 {
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }

  .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    justify-content: flex-end;

    & > div {
      margin-left: 1.5rem;

      // FIXME: search 페이지에서 검색시, 키보드 노출과 함께 landscape의 해상도로 바뀌면서 아래 코드가 작동하지 않는 문제, 안드로이드에서만 해당.
      @media screen and (orientation: portrait) {
        span {
          display: none;
        }
      }
    }
  }
}

#article {
  color: $article-font-color;
  width: 70%;
  margin: 0 15%;
  padding: 2rem;

  @media screen and (orientation: portrait) {
    min-width: 100%;
    margin: 0;
  }
}

#footer {
  display: flex;
  padding: 1rem 2rem;
  height: 2rem;
  padding: 0rem 2rem;
  align-items: center;
  background-color: $header-color;

  @media screen and (orientation: portrait) {
    padding: 0;
  }

  .copyright {
    font-size: 1rem;
    color: $white-color;
    flex-grow: 1;
    a {
      color: $white-color;
    }
  }
}
