@import '../../utils/variables.scss';

// global style
html {
  background-color: $header-color;
  line-height: 1.666 !important;
  a {
    text-decoration: none;
  }
}

#wrap {
  display: flex;
  flex-direction: column;
  padding-top: $header-height;
  min-height: 100vh;
  background-color: $white-color;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99;
  min-width: 100%;
  height: $header-height;
  box-sizing: border-box;
  flex-direction: row;
  background-color: $header-color;
  padding: 1rem 10%;
  align-items: center;
  border-bottom: $header-border-bottom;

  @media screen and (max-width: $break-medium) {
    padding: 1rem 5%;
  }
  @media screen and (max-width: $break-small) {
    padding: 1rem;
  }

  a {
    color: $header-font-color;
  }

  .title {
    margin: 0;
    & > a {
      display: flex;
      flex-direction: row;
      border-bottom: $header-title-border;
      border-top: $header-title-border;
      padding: 0.25rem 0.1rem;
      align-items: center;

      .logo-img {
        max-width: 1.5rem;
        max-height: 1.5rem;
        margin-right: 0.2rem;
        img {
          margin: 0;
          padding: 0.1rem;
          border: 1px solid $header-font-color;
          border-radius: 100%;
        }
      }

      h1 {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }

  .menu {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    font-size: 1.1rem;
    justify-content: flex-end;

    & > div {
      margin-left: 1.5rem;
      transition: all 0.1s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }

      @media screen and (max-width: $break-small) {
        span {
          display: none;
        }
      }

      span {
        margin-left: 0.1rem;
      }
    }
  }
}

#article {
  color: $article-font-color;
  width: 70vw;
  margin: 0 15vw;
  padding: 2rem;

  @media screen and (max-width: $break-medium) {
    width: 80vw;
    margin: 0 10vw;
    padding: 1.5rem;
  }
  @media screen and (max-width: $break-small) {
    width: 95vw;
    margin: 0 2.5vw;
    padding: 1rem;
  }
}

#footer {
  display: flex;
  height: 2rem;
  align-items: center;
  border-top: $header-border-bottom;
  padding: 0 2rem;

  @media screen and (max-width: $break-small) {
    padding: 0 0.5rem;
  }
  .copyright {
    font-size: 1rem;
    color: $header-font-color;
    flex-grow: 1;
    a {
      color: $header-font-color;
    }
  }
}
