@import '../../utils/variables.scss';

$header-height: 4rem;
$header-padding: 1rem 10% 1rem 5%;
$header-padding-mobile: 1rem 2rem;
$article-font-color: $font-color-1;

// global style
html {
  a {
    text-decoration: none;
  }
}

#wrap {
  display: flex;
  flex-direction: column;
  padding-top: $header-height;
  min-height: 100vh;
  background-color: $white-color;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99;
  min-width: 100%;
  height: $header-height;
  box-sizing: border-box;
  flex-direction: row;
  background-color: $header-color;
  color: $white-color;
  padding: $header-padding;
  align-items: center;

  a {
    color: $white-color;
  }

  .title {
    margin: 0;
    & > a {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $white-color;
      border-top: 1px solid $white-color;
      padding: 0.2rem 0.2rem;
      align-items: center;

      .profile-img {
        margin-top: 4px;
        margin-right: 0.2rem;
        img {
          margin: 0;
          width: 1.5rem;
          height: 1.5rem;
          padding: 0.1rem;
          border: 1px solid lightgray;
          border-radius: 100%;
        }
      }

      h1 {
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }

  .menu {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    font-size: 1.2rem;
    justify-content: flex-end;

    & > div {
      margin-left: 1.5rem;

      span {
        margin-left: 0.1rem;
      }
      @media screen and (max-width: $break-small) {
        span {
          display: none;
        }
      }
    }
  }
}

#article {
  color: $article-font-color;
  width: 70vw;
  margin: 0 15vw;
  padding: 2rem;

  @media screen and (max-width: $break-medium) {
    width: 80vw;
    margin: 0 10vw;
    padding: 1.5rem;
  }
  @media screen and (max-width: $break-small) {
    width: 95vw;
    margin: 0 2.5vw;
    padding: 1rem;
  }
}

#footer {
  display: flex;
  height: 2rem;
  padding: 0 2rem;
  align-items: center;
  background-color: $header-color;

  @media screen and (max-width: $break-small) {
    padding: 0 0.5rem;
  }
  .copyright {
    font-size: 1rem;
    color: $white-color;
    flex-grow: 1;
    a {
      color: $white-color;
    }
  }
}
