@import '../utils/variables.scss';

#search {
  input:focus, select:focus {
    outline: none;
  }

  .search-bar {
    font-size: 1.5rem;
    margin: 3rem 0;
    width: 100%;
    display: flex;
    align-items: center;

    #searchInput {
      flex-grow: 1;
      border: 0;
      border-bottom: 1px solid $font-color-3;
      margin: 0 1rem;
      text-align: center;
    }

    .search-type {
      color: $font-color-1;
      background-color: $white-color;
      border: 0;
      font-size: 1rem;
    }
  }
}
