@import '../utils/variables.scss';

#search {
  input:focus,
  select:focus {
    outline: none;
  }

  .search-bar-wrap {
    // max-width: 720px;
    margin: 1rem auto;
    margin-bottom: 3rem;

    .search-bar {
      display: flex;
      font-size: 1rem;
      align-items: center;
      margin-bottom: 0.5rem;

      svg {
        color: $font-color-2;
      }

      #searchInput {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $line-color;
        font-size: 1.2rem;
        flex-grow: 1;
        margin-left: 1rem;
        text-align: center;
      }
    }

    .search-type {
      font-size: 0.9rem;
      text-align: right;

      &>div{
        display: inline-flex;
        align-items: center;
      }

      input {
        margin-left: 0.5rem;
      }
      input:hover {
        cursor: pointer;
      }
      
      input[type="radio"], input[type="radio"]:checked {
        appearance: none;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 100%;
        margin-right: 0.1rem;
      }
      input[type="radio"]{
        background-color: transparent;
        border: 2px solid $line-color;
      }
      input[type="radio"]:checked{
        background-color: $font-color-2;
      }
    }
  }
}
