@import '../../utils/variables.scss';

.index-wrap {
  display: flex;

  @media screen and (max-width: $break-m) {
    margin-top: 1rem;
  }

  .bio {
    position: fixed;
    top: $header-height;
    left: 0;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;

    @media screen and (max-width: $break-l) {
      display: none;
    }
  }

  .index-post-list-wrap {
    width: 100%;

    & > div {
      margin: 0 auto;
    }
  }
}
