@import '../../utils/variables.scss';

#Search {
  max-width: 720px;
  margin: 0 auto;

  .search-inner-wrap {
    .input-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 4rem;
      padding: 1rem;

      @media screen and (max-width: $break-s) {
        margin-bottom: 2rem;
      }

      input {
        all: unset;
        margin: 0 1rem;
        margin-top: 0.1rem;
      }

      .search-toggle {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;

        @media screen and (max-width: $break-s) {
          flex-direction: column;
        }

        span {
          cursor: pointer;
          user-select: none;
          transition: 0.2s;
          opacity: 0.8;
        }

        span:nth-child(1) {
          margin-right: 0.5rem;
        }
      }
    }

    .post-list {
      margin: 0 auto;
    }
    .no-result {
      display: block;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
