@import '../../utils/variables.scss';

#Header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 2rem 1rem 2rem;
  height: $header-height;
  max-height: $header-height;
  transition: top 0.3s;
  transition-delay: 0.2s;
  background-color: transparent;
  user-select: none;
  pointer-events: none;
  & > * {
    pointer-events: all;
  }

  @media screen and (max-width: $break-l) {
    padding: 0 1.5rem 1rem 1.5rem;
  }
  @media screen and (max-width: $break-m) {
    padding: 0 1rem 0.5rem 1rem;
    height: $header-height-m;
  }
  @media screen and (max-width: $break-s) {
    height: $header-height-s;
    padding: 0 1rem 0.25rem 1rem;
  }

  &.mobile {
    top: 0 !important;
  }

  &.show {
    top: 0;
  }
  &.hide {
    top: -$header-height;
  }

  .header-title {
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: $break-s) {
      align-items: center;
    }

    .header-profile-image-wrap {
      display: flex;
      align-items: center;
      border: 1px solid #aaa;
      padding: 2px;
      border-radius: 100%;
      margin-right: 0.25rem;

      @media screen and (max-width: $break-s) {
        padding: 1px;
      }

      img {
        border-radius: 100%;
        margin: 0;
        opacity: 0.8;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;

        @media screen and (max-width: $break-l) {
          width: 25px !important;
          height: 25px !important;
        }

        @media screen and (max-width: $break-s) {
          width: 15px !important;
          height: 15px !important;
        }

        &:hover {
          opacity: 1;
        }

        &.inc {
          width: 50px;
          width: 50px;
        }

        &.dec {
          width: 25px;
          width: 25px;
        }
      }
    }

    .header-title-text {
      margin: 0;
      font-size: 1.6rem;
      font-weight: normal;
      font-family: 'Raleway', 'Nanum Gothic';
      opacity: 0.9;
      transition: opacity 0.3s;

      @media screen and (max-width: $break-s) {
        font-size: 1.1rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

#nav {
  display: flex;
  align-items: center;

  .theme-toggle {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    margin-right: 1.2rem;
    margin-bottom: 2px;
    transition: opacity 0.3s;
    align-items: center;

    &:hover {
      opacity: 0.9;
    }

    .theme-toggle-description {
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s;

      & > *:last-child {
        margin: 0 5px;
      }
    }

    svg {
      font-size: 1.2rem;
      margin: 0;
      color: #6a737d !important;
    }

    & > svg {
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    margin: 0;
    width: 3.5rem;
    justify-content: space-between;

    li {
      list-style: none;
      margin: 0;

      svg {
        margin: 0;
        font-size: 1.2rem;
        transition: opacity 0.3s;
        opacity: 0.7;

        @media screen and (max-width: $break-s) {
          font-size: 1rem;
        }

        &:hover {
          opacity: 1;
        }
      }

      span {
        font-family: 'Raleway', 'Nanum Gothic';
      }

      .search-wrap,
      .tag-wrap {
        display: flex;
        align-items: center;
        height: 1.5rem;

        svg {
          margin-top: 3px;
        }
      }
    }
  }
}
