.post-link {
  a {
    color: black;
    text-decoration: none;
  }
  margin: 2rem;
  padding: 1rem;

  max-width: 860px;
  border: 1px solid #444444;
  border-radius: 3px;

  .title {
    display: inline-block;
    margin: 0;
    color: #555555;
    padding-bottom: 0.5rem;
  }
  .excerpt {
    display: inline-block;
    color: #555555;
    padding-left: 1rem;
  }
}
