// global
$font-color-0: #24292e;
$font-color-0-d: #e4e4e4;
$font-color-1: #000000b3;
$font-color-1-d: #ffffffb3;
$font-color-2: #00000099;
$font-color-2-d: #ffffff99;

$background-color: #fff;
$background-color-d: #141414;

// header
$header-height: 6rem;
$header-height-m: 4rem;
$header-height-s: 2.5rem;

// media query
$break-l: 1119px;
$break-m: 839px;
$break-s: 559px;
$break-toc: 1160px;
