@import '../../utils/variables.scss';

html,
body {
  overscroll-behavior-y: none;
  color: $font-color-0;
}

a {
  color: $font-color-0;
  text-decoration: none;

  &:active {
    color: $font-color-0;
  }
}

#content {
  display: flex;
  flex-direction: column;
  padding-top: $header-height;
  min-height: 100vh;

  @media screen and (max-width: $break-m) {
    padding-top: $header-height-m;
    margin-top: 1rem;
  }
  @media screen and (max-width: $break-s) {
    padding-top: $header-height-s;
  }

  main {
    flex-grow: 1;
  }

  footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.25rem 2rem 0.25rem 2rem;
  }
}

#top {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  user-select: none;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 100%;
  margin-right: 2rem;
  margin-bottom: 1.25rem;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;

  @media screen and (max-width: $break-s) {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  svg {
    color: #6a737d;
    margin: 0;
  }
}
