@import '../../utils/variables.scss';

#ResultList {
  ul {
    margin: 0;

    & > li {
      list-style: none;
      margin: 0.6rem 0;

      div {
        position: relative;
        top: 0;
        border-radius: 3px;
        box-shadow: 0 0 1px 0 rgba(35, 35, 35, 0.5), 0 1px 3px 0 rgba(35, 35, 35, 0.1);
        padding: 0.25rem 0.5rem 0.25rem 1rem;
        transition: 0.3s;

        &:hover {
          top: -1px;
          box-shadow: 0 0 1px 0 rgba(35, 35, 35, 0.7), 0 2.5px 5px 1px rgba(35, 35, 35, 0.15);
        }

        a {
          color: $font-color-1;
          transition: 0.3s;

          &:hover {
            color: $font-color-0;
          }
        }
      }
    }
  }
}
// .result {
//   a {
//     color: $font-color-1;
//     transition: 0.3s;
//   }
//   a:hover {
//     color: $font-color-0;
//   }
// }

// .no-result {
//   text-align: center;
// }

// .page-list {
//   margin: 0;
//   border-top: 1px solid $line-color;
//   width: 100%;
//   display: flex;
//   padding: 1rem 2rem;

//   @media screen and (max-width: $break-small) {
//     padding: 0.5rem 0;
//   }

//   .page-nav {
//     all: unset;
//     cursor: pointer;
//     font-size: 1.5rem;
//     width: 2rem;
//     display: flex;
//     color: $font-color-3;

//     &:hover {
//       transition: 0.3s all;
//       color: $font-color-0 !important;
//     }

//     & > * {
//       margin: 0 auto;
//     }
//   }
//   .page-number {
//     color: $font-color-2;
//     border: 0;
//     background-color: transparent;
//     text-align: center;
//     display: inline-block;
//     flex-grow: 1;
//     transition: 0.3s;
//   }
//   .page-number:focus {
//     outline: none;
//   }
//   .page-number:hover {
//     cursor: pointer;
//     color: $font-color-0;
//   }
//   .page-dummy {
//     pointer-events: none;
//   }
//   .page-number.select-number {
//     color: $font-color-0;
//     font-weight: bold;
//   }
// }
