@import '../../utils/variables.scss';

.post-link {
  a {
    color: black;
    text-decoration: none;
  }
  margin: 2rem 0;
  padding: 1rem;
  
  border: 1px solid #444444;
  border-radius: 3px;

  .title {
    display: inline-block;
    margin: 0;
    color: #555555;
    padding-bottom: 0.5rem;
  }

  .tags-list {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    .tag {
      margin-right: 1rem;
      background-color: $tag-color;
      color: white;
      padding: 3px 5px;
      border-radius: 3px;
    }
  }
  .excerpt {
    display: inline-block;
    color: #555555;
    padding-left: 1rem;
    word-break: break-all;
  }
}
