@import '../../utils/variables.scss';

.post-link {
  border-bottom: 1px solid lightgray;
  padding: 4rem 0;
  a {
    color: $font-color-1;
    text-decoration: none;
  }
  a:hover {
    color: $font-color-0;
  }

  .title {
    margin-bottom: 1rem;
  }

  .sub {
    display: flex;
    align-items: center;
    color: $font-color-2;
    a{
      color: $font-color-2;
    }
    .date {
      span {
        margin-left: 0.2rem;
      }
      margin-right: 0.5rem;
    }

    .tags-list {
      display: flex;
      flex-direction: row;
      border-left: 1px solid gray;

      .tag {
        margin: 0 0.5rem;
      }
    }
  }
  .excerpt {
    display: inline-block;
    color: #4d5256;
    word-break: break-all;
    margin: 2rem 0;
  }
}

.hover {
  transition: 0.3s;
}
.hover:hover {
  color: $font-color-0;
}
