@import '../utils/variables.scss';

.blog-post-container {
  & > div {
    max-width: 720px;
    margin: 0 auto;
  }

  .blog-post {
    padding: 1rem;

    a {
      text-decoration-line: underline;
    }

    .blog-post-title {
      font-size: 1.8rem;
      margin: 0;
      font-family: 'Noto Serif KR';
      line-height: 1.5;
      word-break: keep-all;
    }

    .blog-post-info {
      margin-top: 1rem;
      color: rgba(0, 0, 0, 0.64);
      display: flex;
      font-family: 'Nanum Gothic';
      font-size: 0.84rem;
      align-items: center;

      & > span:nth-child(2) {
        margin: 0 0.5rem;
      }

      .blog-post-tag-list {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        .blog-post-tag {
          list-style: none;
          margin: 0;
          margin-right: 0.3rem;

          a {
            color: rgba(0, 0, 0, 0.64);
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              color: rgba(0, 0, 0, 0.84);
            }
          }
        }
      }
    }
    .blog-post-content {
      margin-top: 5rem;
    }

    code {
      font-family: 'Nanum Gothic Coding';
    }
  }
}

.toc {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: $header-height;

  @media screen and (max-width: 1160px) {
    display: none;
  }
}
