@import '../utils/variables.scss';

.blog-post-container {
  & > div {
    max-width: 720px;
    margin: 0 auto;
  }

  .blog-post {
    padding: 1rem;

    a {
      text-decoration-line: underline;
    }

    .blog-post-title {
      font-size: 1.8rem;
      margin: 0;
      font-family: 'Noto Serif KR';
      line-height: 1.5;
      word-break: keep-all;
    }

    .blog-post-info {
      margin-top: 1rem;
      color: rgba(0, 0, 0, 0.64);
      display: flex;
      font-family: 'Nanum Gothic';
      font-size: 0.84rem;
      align-items: center;
      justify-content: space-between;

      & > span:nth-child(2) {
        margin: 0 0.5rem;
      }

      .blog-post-tag-list {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;

        .blog-post-tag {
          list-style: none;
          margin: 0;
          margin-right: 0.3rem;

          a {
            color: rgba(0, 0, 0, 0.64);
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              color: rgba(0, 0, 0, 0.84);
            }
          }
        }
      }

      .blog-post-inside-toc {
        align-self: flex-end;
        display: none;

        @media screen and (max-width: $break-toc) {
          display: inline-block;
        }

        .toc-button {
          cursor: pointer;
          color: #6a737d;
          opacity: 0.5;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    .inside-toc-wrap {
      display: flex;
      justify-content: flex-end;
    }

    .blog-post-content {
      margin-top: 3rem;
    }

    code {
      font-family: 'Nanum Gothic Coding';
    }
  }
}
