@import '../utils/variables.scss';

.index-wrap {
  display: flex;

  .bio {
    position: fixed;
    top: $header-height;
    left: 0;
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;

    @media screen and (max-width: $break-l) {
      display: none;
    }
  }

  .index-post-list-wrap {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
